// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.page {
  &__container {
    display: grid;
    grid-template-columns: 360px 1fr;
    column-gap: 30px;
  }
}

@media (max-width: 991.98px) {
  .page {
    &__container {
      display: block;
      column-gap: 0;
    }

    &__side {
      margin-bottom: 15px;
    }
  }
}